.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/close-icon.svg);
  background-position: center;
  background-color: #fff;
  opacity: 40%;
  border: none;
  cursor: pointer;
}

.modal__close-btn_type_preview {
  background-image: url(../images/close-icon-white.svg);
  background-color: transparent;
  opacity: 100%;
  top: 0;
  right: -52.5px;
}


.modal__close-btn:hover {
  opacity: 100%;
}

.modal__close-btn_type_preview:hover {
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__title_delete {
  font-size: 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

#delete-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: #212121B2;
  display: block;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #21212166;
  padding: 16px 12px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.modal__input::placeholder {
  color: #2121214D;
}

.modal__input_typing_error {
  border: 1px solid #FF000099;
  opacity: 60%;
}

.modal__error {
  display: block;
  color:#FF0000B2;
  font-size: 16px;
  margin-top: 8px;
}

.modal__submit-btn {
  padding: 18px 32px;
  max-width: 156px;
  width: 100%;
  background-color: #212121;
  border-radius: 8px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #FCF5E5;
  border: none;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 80%;
}

.modal__submit-btn_error {
  background: #212121;
  opacity: 50%;
}

#delete-btn {
  background: #FF6565;
  opacity: 100%;
  color: #212121;
}

#delete-btn:hover {
  background: #FF3333;
  color: #212121;
  opacity: 100%;
}

#cancel-btn {
  background: #fff;
  color: #212121;
  opacity: 100%;
  border: 1px solid #212121
}

#cancel-btn:hover {
  background: #212121;
  opacity: 100%;
  color:#fff;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  display: inline-block;
  background-color: #212121;
  border-radius: 8px;
  color: white;
  padding: 4px 8px;
  margin: 8px auto 0 0;
  font-size: 20px;

}



@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px 12px;
  }


  .modal__title {
    font-size: 20px;
    margin: 10px auto 10px 0;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
    border-width: 2px;
    padding: 0;
  }

  .modal__label {
    margin: 24px 0 0;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: none;
    margin: 24px 0 0;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__caption {
    font-size: 16px;
  }
}